.toolbar {
  height: 40px;
  background-color: var(--background-tone2);
  padding: 0 4px;
}

.button {
  align-self: center;
  margin-right: 4px;
  height: 32px;
  box-shadow: var(--shadow-bottom);
}

.title {
  align-items: center;
  padding-left: 10px;
  font-size: 17px;
}
