<div [ngClass]="{ 'hidden': item.isHidden }" class="flex-column">
  <app-form-label *ngIf="item.title != null" [item]="item"></app-form-label>
  <div class="flex-row">
    <kendo-dropdownlist
      [id]="item.field"
      [data]="item.options | filter:'parentValueId':'equal':item.parentValueId"
      [valueField]="'id'"
      [textField]="'value'"
      [valuePrimitive]="true"
      [kendoDropDownFilter]="true"
      [readonly]="item.isReadOnly"
      [appAutoFocus]="!!item.focus"
      [value]="item.value"
      [kendoDropDownFilter]="{caseSensitive: false, operator: 'contains'}"
      (valueChange)="writeValue($event)"
      class="flex"
      >
    </kendo-dropdownlist>
    <app-form-extras *ngIf="!!item.extras" [item]="item" (onExtras)="onExtras.emit($event)"></app-form-extras>
    <app-form-actions *ngIf="!!item.actions" [item]="item" (onAction)="onAction.emit($event)" class="flex-row"></app-form-actions>
  </div>
</div>