<div [ngClass]="{ 'hidden': item.isHidden }" class="flex-column">
  <app-form-label *ngIf="item.title != null" [item]="item"></app-form-label>
  <div class="flex-row">
    <div class="k-textbox flex alt-view-wrapper">
      <input
        [attr.type]="item.altView ? 'text' : 'password'"
        autocomplete="new-password"
        [id]="item.field"
        [appAutoFocus]="!!item.focus"
        [disabled]="item.isReadOnly"
        [ngModel]="item.value"
        (ngModelChange)="writeValue($event)"
        (keyup.enter)="onEnterKeyPress.emit(item)"
        class="k-input password-input"
      />
      <div (click)="onAltViewClick()" class="alt-view-icon">
        <span class="k-icon k-i-eye"></span>
      </div>
    </div>
    <app-form-extras *ngIf="!!item.extras" [item]="item" (onExtras)="onExtras.emit($event)"></app-form-extras>
    <app-form-actions *ngIf="!!item.actions" [item]="item" (onAction)="onAction.emit($event)" class="flex-row"></app-form-actions>
  </div>
</div>