.container {
  min-width: 360px;
  background-color: var(--background-tone2);
}

.body {
  position: relative;
  padding: 12px 16px 20px 16px;
}

.buttons {
  border-top: 1px solid var(--border);
}

.no-action-button {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid var(--border);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
