<div class="container flex-column">
  <!-- Header -->
  <div class="header flex-row disable-select">
    <span>{{ formTitle }}</span>
    <span class="flex"></span>
    <button kendoButton (click)="onClose()" class="small-btn"><span class="k-icon k-i-close"></span></button>
  </div>

  <!-- User Form -->
  <div [formGroup]="form" class="form-container flex-column">
      <div class="password-wrapper flex-row flex-center">
        <kendo-textbox-container floatingLabel="Password">
          <input kendoTextBox
          formControlName="password"
          [type]="togglePasswordInput1"
          class="password-input"
          />
        </kendo-textbox-container>
        <span class="k-icon k-i-eye view-pass" (click)="oTogglePasswordInput1()"></span>
      </div>
      <div class="password-wrapper flex-row flex-center">
        <kendo-textbox-container floatingLabel="Confirm Password">
          <input kendoTextBox
          formControlName="passwordConfirm"
          class="password-input"
          [ngStyle]="{ 'color': form.hasError('passwordsFailed') ? 'red' : null }"
          [type]="togglePasswordInput2"
          />
        </kendo-textbox-container>
        <span class="k-icon k-i-eye view-pass" (click)="oTogglePasswordInput2()"></span>
      </div>
  </div>

  <!-- Dialog Actions -->
  <div class="flex-row dialog-actions">
    <button kendoButton class="main-action-btn" (click)="onFormSubmit()" [disabled]="form.invalid">Save</button>
    <button kendoButton class="main-action-btn btn-secondary" (click)="onClose()">Cancel</button>
  </div>

</div>
