.container {
  background-color: var(--background-tone2);
}

.header {
  height: 44px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-tone1);
  color: var(--text-light);
  font-size: 20px;
  padding: 0px 6px 0px 12px;
}

.small-btn {
  height: 30px;
  width: 30px;
}

.form-container {
  background-color: var(--form-bg);
  margin: 10px;
  padding: 10px;
  width: 240px;
  border-radius: 3px;
}

.main-action-btn {
  width: 100px;
}

.dialog-actions {
  max-width: calc(90vh - 30px);
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

.password-wrapper {
  width: 210px;
  align-self: center;
  padding-bottom: 14px;
}

.password-input {
  width: 180px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.view-pass {
  margin-top: 20px;
  padding-top: 8px;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: var(--background-tone2);
  border-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  &:hover {
    cursor: pointer;
    background-image: var(--gradient-tone4);
    color: var(--background-tone1);
  }
  &:active {
    color: var(--accent-lighter);
    background-color: var(--accent);
  }
}
